*
!.gitignore
!/.git

# Cargo
!.cargo/**/*

# Bash
!.bashrc

# Config Folder
!.config/

# Zed
!.config/zed/
!.config/zed/**

# Fish
!.config/fish/
!.config/fish/**

# Hyprland
!.config/hypr/
!.config/hypr/**

# Mako
!.config/mako/
!.config/mako/**

# Starship
!.config/starship/
!.config/starship/**

# Waybar
!.config/waybar/
!.config/waybar/**

# Zed
!.config/zed/
!.config/zed/**

# Home Manager
!.config/home-manager/
!.config/home-manager/**